.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__content {
    width: 40%;
    padding-right: gutter(5);

    @include media("<md") {
      width: 100%;
      padding: 0;
      margin: gutter(2) 0 gutter(6);
    }
  }

  &__desc {
    padding: gutter(4) 0;
    max-width: gutter(43);
  }

  &__image {
    width: 60%;
    height: gutter(60);

    @include media("<md") {
      height: gutter(30);
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
