.footer {
  background-color: $secondary;
  //margin-top: gutter(4);

  &__columns {
    color: $white;
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    background-color: $secondary;
    width: 30%;
    display: flex;
    align-items: center;

    @include media("<lg") {
      display: none;
    }

    img {
      height: gutter(10);
      width: auto;
    }
  }

  &__content {
    padding: gutter(8) gutter(10) gutter(5);
    width: 70%;

    @include media("<lg") {
      width: 100%;
    }

    @include media("<md") {
      padding: gutter(5) 0 gutter(3);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include media("<md") {
      text-align: center;
      justify-content: center;
    }
  }

  &__nav {
    list-style-type: none;

    &-title {
      @include media("<md") {
        display: none;
      }
    }

    @include media("<md") {
      display: none;
    }

    li {
      margin: gutter(0.25) 0;
    }
  }

  &__title {
    color: $white;
    font-weight: $regular;
    font-size: 28px;
    margin-bottom: gutter(3);
  }

  &__link {
    color: $white;

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }

  &__block {
    margin-bottom: gutter(2);
    color: $white;
  }

  &__copyright {
    opacity: 0.3;

    @include media("<lg") {
      margin-bottom: gutter(3);
      width: 100%;
    }
  }
}
