.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg;
  height: 100vh;
  width: 100%;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100%);
  transition: $transition;

  &--active {
    transform: translateY(0);
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: gutter(20);
  }

  &__item {
    padding: gutter(1.5) gutter(3);

    a {
      padding: gutter(1);
      font-size: 20px;
    }
  }
}
