.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .product {
    width: gutter(50) !important;
    margin: 0 !important;
    padding: gutter(5) !important;

    img {
      object-fit: cover;
      height: gutter(34) !important;
    }
  }

  .woocommerce-loop-product__title {
    font-size: 30px !important;
    font-family: $font-title;
    color: $primary !important;
  }

  .woocommerce-Price-amount {
    font-size: 20px;
    font-family: $font-title;
  }
}
