.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: gutter(4) auto !important;

  .product {
    width: gutter(50) !important;
    margin: 0 !important;
    padding: gutter(5) !important;
    text-align: center;

    img {
      object-fit: contain;
      height: gutter(34) !important;
    }
  }

  .woocommerce-loop-product__title {
    font-size: 25px !important;
    font-family: $font-title;
    color: $primary !important;
  }

  .woocommerce-Price-amount {
    font-size: 24px;
    font-family: $font-title;
    display: block;
    padding: gutter(0.8) 0 !important;
  }
}
