.woocommerce-product-gallery {
  margin-bottom: 0 !important;
}

.single-product {
  .entry-summary {
    margin-top: gutter(15);

    .cart {
      margin: gutter(2) 0;
    }

    .product_meta {
      display: none;
    }
  }
}

.quantity {
  input {
    height: gutter(4);
    border: 1px solid $secondary;
  }
}
