.contact-bar {
  background-color: $secondary;
  padding-top: gutter(8);
  padding-bottom: gutter(8);
  color: $white;

  @include media("<md") {
    padding: gutter(6) gutter(3);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media("<md") {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: $semi-bold;
  }

  &__buttons {
    display: inline-block;
    align-items: center;
    text-align: center;

    @include media("<md") {
      margin-top: gutter(2.5);
    }

    a {
      margin-left: gutter(3);

      @include media("<md") {
        margin-left: 0;
      }
    }
  }
}
