.small-hero {
  position: relative;
  height: gutter(30);
  margin-top: gutter(12);
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  overflow: hidden;
  background-color: $primary;

  @include media("<md") {
    margin-top: gutter(10);
    height: gutter(20);
  }

  &__bg {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    // opacity: 0.3;
  }

  &__title {
    position: absolute;
    top: 50%;
    color: $white;
    opacity: 0.9;

    @include center;
  }
}
